[submodule ".registry"]
	path = .registry
	url = https://github.com/plantedml/plantedml.r-universe.dev
	branch = HEAD
[submodule "glex"]
	path = glex
	url = https://github.com/PlantedML/glex
[submodule "randomPlantedForest"]
	path = randomPlantedForest
	url = https://github.com/PlantedML/randomPlantedForest
